[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
Exec=/bin/bash ~/distro/firefox.sh
Icon=/bin/bash ~/distro/image1.jpg
Terminal=false
Categories=Network;WebBrowser;
