[Desktop Entry]
Version=1.0
Type=Application
Name=VS Code
Exec=/bin/bash ~/solo-modded-ubuntu/distro/code.sh
Icon=~/solo-modded-ubuntu/distro/image1.jpg
Terminal=false
Categories=Development;IDE;
